/* Container styling */
.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  width: 100%;
  max-width: 1300px;
  padding: 40px 20px;
}

/* About ChikeCreates Studios Section */
.aboutStudio {
  display: flex;
  flex-direction: row;
  align-items: center; /* Vertically center the logo and text */
  gap: 40px;
  width: 100%;
  max-width: 1200px;
}

.logoPlaceholder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 auto auto;
  height: 100%; /* Ensure the logoPlaceholder takes the full height */
}

.logo {
  width: 350px;
  height: auto;
  filter: brightness(0) invert(1);
}

.studioWriteUp {
  flex: 1;
  text-align: left;
}

.studioWriteUpHeading {
  font-size: 3rem;
  margin: 0 0 12px 0;
  color: var(--gold);
}

.studioWriteUpText {
  margin: 15px 0;
  font-size: 1.1rem;
  font-family: "Merriweather", serif;
  line-height: 1.4;
  color: #ffffff;
}

/* Mission and Vision Statements */
.missionStatement,
.visionStatement {
  width: 100%;
  max-width: 800px;
  padding: 30px;
  border-radius: 10px;
  background-color: #3939393c;
  text-align: left;
}

.missionHeading,
.visionHeading {
  text-align: left;
  font-size: 2rem;
  margin: 20px 0 10px 0;
  color: var(--gold);
}

.missionText,
.visionText {
  margin: 15px 0;
  font-size: 1.1rem;
  font-family: "Merriweather", serif;
  line-height: 1.4;
  color: #ffffff;
}

/* About Chike Section */
.aboutChike {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
  max-width: 1200px;
}

.imageWrapper {
  flex: 0 0 auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

.image {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  transition: filter 0.5s ease-in-out;
}

.imageWrapper:hover .image {
  filter: grayscale(0%);
}

.ceoText {
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--gold);
  margin-top: 10px;
}

.chikeWriteUp {
  flex: 1;
  text-align: left;
}

.chikeWriteUpHeading {
  font-size: 3rem;
  margin: 0 0 12px 0;
  color: var(--gold);
}

.chikeWriteUpText {
  margin: 15px 0;
  font-size: 1.1rem;
  font-family: "Merriweather", serif;
  line-height: 1.4;
  color: #ffffff;
}

/* Mobile Devices: max-width 600px */
@media (max-width: 600px) {
  .aboutStudio,
  .aboutChike {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .logoPlaceholder {
    margin-bottom: 20px;
  }

  .logo {
    width: 250px; /* Adjust for mobile */
  }

  .imageWrapper {
    max-width: 300px;
  }

  .studioWriteUpHeading,
  .chikeWriteUpHeading {
    font-size: 2.5rem;
    text-align: center;
  }

  .missionHeading,
  .visionHeading {
    font-size: 1.8rem;
    text-align: center;
  }

  .studioWriteUpText,
  .missionText,
  .visionText,
  .chikeWriteUpText {
    font-size: 1.2rem;
    text-align: center;
  }
}

/* Tablets: min-width 601px and max-width 1024px */
@media (min-width: 601px) and (max-width: 1024px) {
  .aboutStudio,
  .aboutChike {
    gap: 30px;
  }

  .logo {
    width: 300px; /* Adjust for tablets */
  }

  .imageWrapper {
    max-width: 250px;
  }

  .studioWriteUpHeading,
  .chikeWriteUpHeading {
    font-size: 2.8rem;
  }

  .missionHeading,
  .visionHeading {
    font-size: 1.9rem;
  }

  .studioWriteUpText,
  .missionText,
  .visionText,
  .chikeWriteUpText {
    font-size: 1.1rem;
  }
}

/* Desktops: min-width 1025px and max-width 1440px */
@media (min-width: 1025px) and (max-width: 1440px) {
  .logo {
    width: 350px;
  }

  .imageWrapper {
    max-width: 300px;
  }

  .studioWriteUpHeading,
  .chikeWriteUpHeading {
    font-size: 3.2rem;
  }

  .missionHeading,
  .visionHeading {
    font-size: 2.1rem;
  }

  .studioWriteUpText,
  .missionText,
  .visionText,
  .chikeWriteUpText {
    font-size: 1.15rem;
  }
}

/* Large Desktops: min-width 1441px */
@media (min-width: 1441px) {
  .logo {
    width: 400px; /* Adjust for large desktops */
  }

  .imageWrapper {
    max-width: 350px;
  }

  .studioWriteUpHeading,
  .chikeWriteUpHeading {
    font-size: 3.5rem;
  }

  .missionHeading,
  .visionHeading {
    font-size: 2.3rem;
  }

  .studioWriteUpText,
  .missionText,
  .visionText,
  .chikeWriteUpText {
    font-size: 1.2rem;
  }
}